// Primary colors 

$red : hsl(1, 90%, 64%);
$blue : hsl(219, 85%, 26%);

// Neutral colors

$white: hsl(0, 0%, 100%);
$very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-1: hsl(211, 68%, 94%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$very-dark-blue: hsl(224, 21%, 14%);

// Font 

$body-font : 'Plus Jakarta Sans', sans-serif;
$font-weight-normal: 500;
$font-weight-bold: 800;





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $body-font;
    color: $dark-grayish-blue;
    font-weight: $font-weight-normal;
    font-size: 1.6rem;
    background: $very-light-grayish-blue;
}

.notifications {
    margin: 5rem auto;
    padding: 4rem 2.5rem;
    max-width: 72rem;
    border-radius: 1.5rem;
    background: $white;

    nav {
        margin: 0 0 3rem 0;
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 2rem;
            color: $very-dark-blue;
            font-weight: $font-weight-bold;

            span {
                margin: 0 0 0 .6rem;
                padding: .2rem .9rem;
                font-size: 1.3rem;
                color: $white;
                border-radius: .5rem;
                background: $blue;
                position: relative;
                top: -.4rem;
            }
        }

        p {

            a {
                font-size: 1.4rem;
                color: $dark-grayish-blue;
                text-decoration: none;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    &__items {
        width: 100%;

        .item {
            margin: 0 0 1rem 0;
            padding: 2rem;
            border-radius: .6rem;
            display: flex;
            align-items: flex-start;

            img {
                margin: 0 1rem 0 0;
                height: 4rem;
            }

            p {
                margin: 0;

                .user {
                    color: $very-dark-blue;
                    font-weight: $font-weight-bold;
                    text-decoration: none;

                    &:hover {
                        color: $blue;
                    }
                }

                .activity--subject {
                    color: $dark-grayish-blue;
                    font-weight: $font-weight-bold;
                    text-decoration: none;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .time {
                color:$grayish-blue;
            }

            .message {
                margin: 1.5rem 0 0 0;
                padding: 1rem 2rem;
                color: $dark-grayish-blue;
                cursor: pointer;
                border: 1px solid $grayish-blue;
                border-radius: .4rem;

                &:hover {
                    background-color: $light-grayish-blue-1;
                    border: 1px solid transparent;
                }
            }

            .content--picture {
                flex: 1;
                text-align: end;

                a {

                    img {
                        margin: 0;

                        &:hover {
                            -webkit-filter: drop-shadow(0 0 3px $grayish-blue);
                            filter: drop-shadow(0 0 3px $grayish-blue); 
                        }
                    }

                    
                }    
            }

            &.item--new {
                background-color: $very-light-grayish-blue;

                .activity::after {
                    content: "";
                    margin: 0 0 0 .7rem;
                    height: .7rem;
                    width: .7rem;
                    border-radius: 5rem;
                    background-color: $red;
                    display: inline-block;
                    position: relative;
                    top: -0.125rem;
                }
            }
        }
    }
}